<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - A Wordle App</title>
    <style>
        .message {
            padding: 2px;
            margin: 2px;
            background-color: #f3f3f3
        }
        .output {
            padding: 5px;
            margin: 5px;
            background-color: '#f08800' 
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">WordleApp</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        <h1>{% block title %} Enter the search pattern {% endblock %}</h1>
        {% for message in messages %}
            <div class='message'>
                <p><b>{{ message['title'] }}</b>: {{ message['content'] }}</p>
            </div>
        {% endfor %}
        <form action="{{ url_for('handle_data') }}" method="post">
        <input type="text" name="pattern">
        <input type="submit">
    </form>
    <div class='output'>
        {% if results %}
            <p>{{ results }}</p>
        {% endif %}
    </div>
    </div>
</body>
</html>

