{% extends "layouts/main.html" %}

{% block content%}

{% if about %} 
    <div class='callout' style="text-align:center">
        {% for line in about %}
            <br>{{ line }}</br>
        {% endfor %}
        Learn more about wordle <a href=https://www.powerlanguage.co.uk/wordle/>here</a>"
    </div>
{% endif %}

<div class="container">
    <div class="hero">
        <div style="text-align:center;">
            <picture>
                <source srcset="/static/celebration-dark.svg" media="(prefers-color-scheme: dark)">
                <img src="/static/celebration.svg" alt="A group celebrating" width="427" height="231">
            </picture>
        </div>

        <div class="message">
            <h1>{{message}}</h1>
            <h2>Congratulations, you are about to master Wordle</h2>
            <form action="{{ url_for('wordle') }}" method="post">
                <label for="use">Letters that must be <b>used</b>:</label>
                <input id="use" type="textbox" name="use" value="{{ request.form['use'] }}"> <br>
                <label for="avoid">Letters that must be <b>avoided</b>:</label>
                <input id="avoid" type="textbox" name="avoid" value="{{ request.form['avoid'] }}">
                <br>
                <label for="place">Letter slots known (optional):</label><br>
                <input id="place1" type="textletter" name="place1" value="{{ request.form['place1'] }}">
                <input id="place2" type="textletter" name="place2" value="{{ request.form['place2'] }}">
                <input id="place3" type="textletter" name="place3" value="{{ request.form['place3'] }}">
                <input id="place4" type="textletter" name="place4" value="{{ request.form['place4'] }}">
                <input id="place5" type="textletter" name="place5" value="{{ request.form['place5'] }}"><br>
                <input type="submit">
            </form>
        </div>
        <br>
        {% if results %} 
            <div class='callout' style="text-align:center">
                {{ results }}  
            </div>
        {% endif %}
        {% if headers %}
            <div class='message' style="text-align:center">
                <ul>
                    {% for line in headers %}
                        <br>{{ line }}</br>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}