<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wordle Solver</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link href="/static/cloud-run-32-color.png" rel="icon" type="image/png" />
<link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="hero">
			<div style="text-align:center;">
				<picture>
					<source srcset="/static/celebration-dark.svg" media="(prefers-color-scheme: dark)">
					<img src="/static/celebration.svg" alt="A group celebrating" width="427" height="231">
				</picture>
			</div>

			<div class="message">
				<h1>{{message}}</h1>
				<h2>Congratulations, you are about to master Wordle</h2>
                <form action="{{ url_for('wordle') }}" method="post">
                    <label for="use">Letters that must be <b>used</b>:</label>
                    <input id="use" type="text" name="use" value="{{ request.form['use'] }}"> <br>
                    <label for="avoid">Letters that must be <b>avoided</b>:</label>
                    <input id="avoid" type="text" name="avoid" value="{{ request.form['avoid'] }}">
                    <input type="submit">
                </form>
			</div>
            <br>
            {% if results %} 
                <div class='callout' style="text-align:center">
                    {{ results }}  
                </div>
            {% endif %}
            {% if headers %}
                <div class='message' style="text-align:center">
                    <ul>
                        {% for line in headers %}
                            <br>{{ line }}</br>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
		</div>
